html {
  text-align: center;
  background-color: #1d1d1d;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('https://cdn.dribbble.com/users/2643208/screenshots/6809225/solar_system_2.gif');
}

.App {
  margin-top: 0;
}

header{
  font-size: 50px;
  color: white;
  display:block;
  text-align: center;
}

h1 {
  color: white;
}

/* @media (prefers-reduced-motion: no-preference) {
  .Sun-logo {
    animation: Sun-logo-spin infinite 20s linear;
  }
}

@keyframes Sun-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
